# MAX25221 support for 10" LVDS (GLT1011280800IS1-CTP)
CONFIG_SENSORS_MAX25221=y
CONFIG_MFD_MAX25221=y
CONFIG_REGULATOR_MAX25221=y

#RX8111 RTC on 00395 SOM
CONFIG_RTC_DRV_RX8111=m

# Add support for 2.8" SPI display (GLT028240320IS1-CTP)
CONFIG_SPI_STM32=y
CONFIG_GPIO_PCA953X=y
CONFIG_DRM_MIPI_DBI=y
CONFIG_TINYDRM_ST7789T3=y
