# CONFIG_LOGO is not set
CONFIG_RTC_DRV_RV3032=y
CONFIG_DRM_TI_SN65DSI83=y

CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_DEBUG_INFO=y
# CONFIG_DEBUG_INFO_REDUCED is not set

# Add support for 2.8" SPI display (GLT028240320IS1-CTP)
CONFIG_TINYDRM_ST7789T3=y

# Add support for 5.5" MIPI DSI display (GLT0557201280IS1-CTP)
CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y