[Unit]
Description=Grow the last GPT partition to fill available disk space
DefaultDependencies=false
After=mount-partitions.service
Before=resize-helper.service local-fs.target

[Service]
Type=oneshot
ExecStartPre=-/bin/udevadm settle
ExecStart=-/sbin/grow-last-partition
WatchdogSec=45

[Install]
WantedBy=local-fs.target
